<section class="p-4 my-12 mx-auto max-w-screen-xl">
  <div class="p-6 bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Was this helpful?</h5>
    </a>
    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400">
      I hope TurboBoost helps you get better at Hotwire while teaching you some cool new tricks...
      because this stuff is fun and addictive.
      Check out the <a href="https://github.com/hopsoft/turbo_boost-commands/tree/main/test/dummy" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">test/dummy app on GitHub</a> to see how this site was made,
      and please consider supporting my efforts.
    </p>
    <a href="https://github.com/sponsors/hopsoft" target="_blank"
      class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg dark:bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Sponsor TurboBoost
      <%= render "icons/heroicons/rocket_launch", class: "w-4 h-4 ml-2 opacity-60", solid: true %>
    </a>
  </div>
</section>
