# flyctl launch added from .gitignore
**/*.gem
**/*.key
**/Gemfile.lock
.bundle
.env
doc
fly.toml
log/*.log
node_modules
pkg
tags
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/public/assets
test/dummy/storage
test/dummy/tmp
tmp
