<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <div class="flex items-center">
    <%= render heroicon(:sparkles), class: "h-6 w-6 mr-2 opacity-40" %>
    Coming soon...
  </div>
<% end %>
