<main class="p-4 pt-20 h-auto md:ml-64">
  <%= render "layouts/features" %>

  <div class="grid grid-cols-1 gap-4 mb-4 sm:grid-cols-2 lg:grid-cols-4">
    <div
        class="h-32 rounded-lg border-2 border-gray-300 border-dashed md:h-64 dark:border-gray-600"
        ></div>
    <div
        class="h-32 rounded-lg border-2 border-gray-300 border-dashed md:h-64 dark:border-gray-600"
        ></div>
    <div
        class="h-32 rounded-lg border-2 border-gray-300 border-dashed md:h-64 dark:border-gray-600"
        ></div>
    <div
        class="h-32 rounded-lg border-2 border-gray-300 border-dashed md:h-64 dark:border-gray-600"
        ></div>
  </div>
  <div
      class="mb-4 h-96 rounded-lg border-2 border-gray-300 border-dashed dark:border-gray-600"
      ></div>
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
  </div>
  <div
      class="mb-4 h-96 rounded-lg border-2 border-gray-300 border-dashed dark:border-gray-600"
      ></div>
  <div class="grid grid-cols-2 gap-4">
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
    <div
        class="h-48 rounded-lg border-2 border-gray-300 border-dashed md:h-72 dark:border-gray-600"
        ></div>
  </div>
</main>
