<aside aria-label="Related articles" class="py-8 bg-white lg:py-24 dark:bg-gray-900">
  <div class="px-4 mx-auto max-w-screen-xl">
      <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Read next</h2>
      <article class="flex mb-8">
          <a href="#" class="shrink-0">
              <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/articles/image-1.png" class="mr-5 w-32 h-32 rounded-full max-w-fullalign-middle" alt="Image 1">
          </a>
          <div class="flex flex-col justify-center">
              <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                  <a href="#">Our first office</a>
              </h2>
              <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
              <a href="#" class="inline-flex items-center font-medium underline hover:no-underline underline-offset-4 text-primary-600 dark:text-primary-500">
                  Read in 2 minutes
              </a>
          </div>
      </article>
      <article class="flex mb-8">
          <a href="#" class="shrink-0">
              <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/articles/image-2.png" class="mr-5 w-32 max-w-full h-32 align-middle rounded-full" alt="Image 2">
          </a>
          <div class="flex flex-col justify-center">
              <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                  <a href="#">Enterprise design tips</a>
              </h2>
              <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
              <a href="#" class="inline-flex items-center font-medium underline hover:no-underline underline-offset-4 text-primary-600 dark:text-primary-500">
                  Read in 12 minutes
              </a>
          </div>
      </article>
      <article class="flex">
          <a href="#" class="shrink-0">
              <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/articles/image-3.png" class="mr-5 w-32 max-w-full h-32 align-middle rounded-full" alt="Image 3">
          </a>
          <div class="flex flex-col justify-center">
              <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                  <a href="#">We partnered up with Google</a>
              </h2>
              <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
              <a href="#" class="inline-flex items-center font-medium underline hover:no-underline underline-offset-4 text-primary-600 dark:text-primary-500">
                  Read in 8 minutes
              </a>
          </div>
      </article>
  </div>
</aside>
