<section class="bg-white dark:bg-gray-900">
  <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:grid-cols-12 lg:gap-12 lg:py-16 xl:gap-0">
    <div class="place-self-center pr-4 mr-auto lg:col-span-6 xl:col-span-7">
      <h1 class="mb-4 text-6xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        Unlock the strength of
        <span class="text-emerald-400 dark:text-emerald-100">Turbo Frames</span>
      </h1>
      <h2 class="mb-4 text-2xl text-gray-500">
        <span class="inline-block tracking-tight whitespace-nowrap dark:text-white">
          <span class="self-center font-light opacity-70">Turbo</span><span class="font-bold text-emerald-500">Reflex</span>
        </span>
        simplifies building modern, robust, reactive web apps with Hotwire.
      </h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
      TurboReflex reduces Turbo Frame complexity so you can focus on features.
      It extends frames with reflexes (RPC) and guarantees <strong class="font-extrabold">robust and reliable</strong> reactivity over <strong class="font-extrabold">HTTP</strong> instead of web sockets.
      </p>
    </div>
    <div class="hidden lg:flex lg:col-span-6 lg:mt-0 xl:col-span-5">
      <%= image_tag "undraw_developer_activity_re_39tg.svg", class: "origin-center -rotate-12 opacity-80" %>
    </div>
  </div>
</section>
