<li>
  <%= link_to href, class: token_list("sidebar[link]", local_assigns[:class], "active": active) do %>
    <%= render "icons/heroicons/#{icon}", solid: true %>
    <%= local_assigns[:label] || yield %>
  <% end %>
</li>
