<aside id="sidebar" aria-label="Sidenav">
  <div>
    <%# render "sidebar/search" %>
    <ul>
      <li>
        <%= render "sidebars/link", label: "Home", href: root_path, icon: :home, active: request.path == root_path %>
      </li>

      <%= render "sidebars/docs" %>
      <%= render "sidebars/demos" %>
    </ul>
  </div>

  <%= render "sidebars/footer" %>
</aside>
