<div class="justify-center mb-2 w-full">
  <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-700">
    <div class="text-sm text-gray-600 dark:text-gray-400">
      <div class="flex justify-center my-1">
        <%= image_tag "hopsoft.webp", class: "h-14 w-14 rounded-full", alt: "hopsoft" %>
      </div>
      Want more demos, better docs, and faster bug fixes?
    </div>
    <a href="https://github.com/sponsors/hopsoft" target="_blank"
      class="inline-flex items-center text-sm font-medium hover:underline text-primary-600 dark:text-primary-300">
      Sponsor TurboBoost
      <%= render "heroicons/arrow_right", class: "ml-1 w-5 h-5", solid: true %>
    </a>
  </div>
</div>
