<div class="justify-center w-full">
  <div class="p-4 mb-2 text-sm text-gray-600 bg-gray-50 rounded-lg dark:text-gray-400 dark:bg-gray-700">
    <div class="flex flex-col text-center">
      <div class="flex justify-center mb-1"><%= image_tag "hopsoft.webp", class: "h-14 w-14 rounded-full", alt: "hopsoft" %></div>
      <div>Want more demos, better docs, and faster bug fixes?</div>
      <div>
        <a href="https://github.com/sponsors/hopsoft" target="_blank"
          class="inline-flex items-center mt-2 text-sm font-medium text-emerald-500 align-bottom dark:text-emerald-400 hover:underline">
          Sponsor TurboBoost
          <%= render "icons/heroicons/rocket_launch", class: "ml-1 w-4 h-4 opacity-60", solid: true %>
        </a>
      </div>
  </div>
</div>
