<button type="button" data-tooltip-target="view-mode-tooltip" data-tooltip-placement="bottom" data-controller="view-mode" data-action="click->view-mode#toggle"
  class="p-2.5 text-sm text-gray-500 rounded-lg transition duration-75 dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 focus:ring-4 dark:hover:bg-gray-700 dark:hover:text-white">
  <%= render "heroicons/moon", class: "w-5 h-5 hidden", data: { view_mode_target: "moon" } %>
  <%= render "heroicons/sun", class: "w-5 h-5 hidden", data: { view_mode_target: "sun" } %>
</button>

<div id="view-mode-tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 dark:bg-gray-700 tooltip">
  Toggle view mode
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
