<button
    type="button"
    data-dropdown-toggle="notification-dropdown"
    class="p-2 mr-1 text-gray-500 rounded-lg dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
    <span class="sr-only">View notifications</span>
    <!-- Bell icon -->
    <svg
        aria-hidden="true"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
            ></path>
    </svg>
</button>
