<button
    type="button"
    data-drawer-toggle="sidebar"
    aria-controls="sidebar"
    class="p-2 mr-1 text-gray-500 rounded-lg md:hidden dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
    <span class="sr-only">Toggle search</span>
    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
    </svg>
</button>
