/* Application styles */

* {
 font-family: sans-serif;
}

.test {
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.red {
  color: white;
  background-color: #b7616a;
  padding: 0 4px 1px 4px;
  border-radius: 2px;
  display: inline-block;
}

.green {
  color: white;
  background-color: #91a448;
  padding: 0 4px 1px 4px;
  border-radius: 2px;
  display: inline-block;
}
