<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      TODO: Create this page
    </h1>
    <p class="mb-8 text-lg font-normal text-center text-gray-500 sm:px-16 lg:text-xl xl:px-48 dark:text-gray-400">
      Several <span class="text-gray-900 dark:text-white">TurboBoost</span> docs, demos, and features are still in the pipeline.
      I'm working hard to get them ready for you.
      <span class="text-gray-900 underline dark:text-white underline-offset-4 decoration-dotted decoration-gray-500/80">With your support, we can bring them to life even faster!</span>
      <small class="block opacity-60">
        Please consider making a one-time donation or becoming a monthly supporter.
      </small>
    </p>
    <div class="flex flex-col mb-8 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 lg:mb-16">
      <a href="https://github.com/sponsors/hopsoft?frequency=one-time&amount=100" target="_blank" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg focus:ring-4 bg-primary-800 dark:focus:ring-primary-900 hover:bg-primary-900 focus:ring-primary-300">
        <%= render "heroicons/banknotes", class: "mr-2 w-5 h-5", solid: true %>
        Make a one-time donation
      </a>
      <a href="https://github.com/sponsors/hopsoft?frequency=recurring" target="_blank" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 dark:text-white dark:border-gray-700 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        <%= render "heroicons/credit_card", class: "mr-2 w-5 h-5", solid: true %>
        Become a supporter
      </a>
    </div>
  </div>
</section>
