<h3>Counter</h3>

<p>
  In this demo, the counter value or "state" is managed by the User model.
  It is persisted to the database and used when rendering the page.
</p>

<code role="counter"><%= padded_number Current.user.count %></code>

<% cache do %>
  <div>
    <button data-turbo-command="IncrementCountCommand">
      <%= render "icons/heroicons/plus", solid: true %> Increment
    </button>

    <button data-turbo-command="DecrementCountCommand">
      <%= render "icons/heroicons/minus", solid: true %> Decrement
    </button>

    <button data-turbo-command="ResetCountCommand" data-turbo-confirm="Are you sure?">
      <%= render "icons/heroicons/arrow_path", solid: true %> Reset
    </button>
  </div>
<% end %>
