<h3>Counter</h3>

<p>
  In this demo, the counter value or "state" is managed by the User model.
  It is persisted to the database and used when rendering the page.
</p>

<code><%= padded_number Current.user.count %></code>

<div>
  <button data-turbo-command="IncrementCountCommand">
    <%= render "heroicons/plus" %> Increment
  </button>

  <button data-turbo-command="DecrementCountCommand">
    <%= render "heroicons/minus" %> Decrement
  </button>

  <button data-turbo-command="ResetCountCommand" data-turbo-confirm="Are you sure?">
    <%= render "heroicons/arrow_path" %> Reset
  </button>
</div>
