<section class="p-4 my-12 mx-auto max-w-screen-xl">
  <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
    Without a Turbo Frame
  </h2>
  <p class="mb-4 text-xl text-gray-500 dark:text-gray-400">
    Now let's create the same basic Command but this time without using a Turbo Frame.
    <br>
    Demo coming soon...
  </p>
</section>
