<div class="overflow-hidden bg-slate-100 shadow sm:rounded-lg my-2">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Sanity Check</h3>
    <p class="mt-1 max-w-2xl text-sm text-zinc-500 font-light">Turbo Frame render details</p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Fingerprint</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <span class="font-mono inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">
            <%= SecureRandom.urlsafe_base64 %>
          </span>
        </dd>
      </div>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Request method</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <span class="inline-flex items-center rounded-full bg-slate-600 px-3 py-0.5 text-sm font-medium text-slate-100 font-mono">
            <%= request.method %>
          </span>
        </dd>
      </div>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Reflex details</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= render "components/checkbox", label: "Requested", description: "(was a reflex requested?)", checked: turbo_reflex_requested? %>
          <%= render "components/checkbox", label: "Performed", description: "(was a reflex performed?)", checked: turbo_reflex_performed? %>
        </dd>
      </div>
    </dl>
  </div>
</div>

