<section>
  <article>
    <header><h2>Drivers</h2></header>

    <details>
      <summary>Form</summary>
    </details>

    <hr>

    <details>
      <summary>Frame</summary>
    </details>

    <hr>

    <details>
      <summary>Method</summary>
    </details>

    <hr>

    <%= render "/tests/drivers/window" %>
  </article>
</section>
