<section>
  <article>
    <header><h2>Drivers</h2></header>

    <%= turbo_frame_tag "form-driver-test", src: test_path(:form) %>
    <hr>
    <%= turbo_frame_tag "frame-driver-test", src: test_path(:frame) %>
    <hr>
    <%= turbo_frame_tag "drivers-method", src: test_path(:method) %>
    <hr>
    <%= render "/tests/drivers/window" %>

  </article>
</section>
