<section>
  <details>
    <summary>Form Driver</summary>
  </details>

  <hr>

  <details>
    <summary>Frame Driver</summary>
  </details>

  <hr>

  <details>
    <summary>Method Driver</summary>
  </details>

  <hr>

  <%= render "partials/details", id: "details-window-driver" do %>
    <summary>Window Driver</summary>

    <section>
      <h6>Click Event Delegate</h6>
      <button data-turbo-command="StateCommand">Click Me</button>
    </section>

    <section>
      <h6>Change Event Delegate</h6>
    </section>
  <% end %>
</section>
