<section>
  <details>
    <summary>Form Driver</summary>
  </details>

  <hr>

  <details>
    <summary>Frame Driver</summary>
  </details>

  <hr>

  <details>
    <summary>Method Driver</summary>
  </details>

  <hr>

  <%= render "/tests/drivers/window" %>
</section>
