<div class="p-5 space-y-4 bg-white rounded-lg border border-gray-200 shadow-md lg:p-8 dark:bg-gray-800 dark:border-gray-700">
  <img class="object-cover p-8 w-full bg-white rounded-lg border" src="https://images.clickfunnel.com/uploads/digital_asset/file/176632/clickfunnels-dark-logo.svg" alt="ClickFunnels">

  <h3 class="text-base text-gray-900 md:text-2xl dark:text-white">
    ClickFunnels is the fastest growing, non-VC-backed, software company in the world!
  </h3>

  <blockquote class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:bg-gray-800 dark:border-gray-500">
    <p class="text-base italic font-medium leading-relaxed text-gray-900 md:text-xl dark:text-white">
    "We're absolutely blown away by how awesome TurboBoost Commands are. It's so cool to see things just happen. They're so easy to setup. It's wild and we love it."
    </p>
  </blockquote>

  <div class="flex flex-col gap-4 sm:flex-row md:flex-col lg:flex-row lg:items-center">
    <a href="https://www.clickfunnels.com/?utm_source=hopsoft&utm_medium=open-source&utm_campaign=turbo_boost-commands" target="_blank" role="button"
      class="py-2.5 px-5 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-primary-700 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 hover:bg-primary-800 focus:ring-primary-300">
      Learn about ClickFunnels
    </a>

    <a href="https://www.clickfunnels.com/careers/?utm_source=hopsoft&utm_medium=open-source&utm_campaign=turbo_boost-commands" target="_blank" role="button"
      class="inline-flex justify-center items-center py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-200 focus:outline-none dark:focus:ring-gray-700 dark:hover:text-white dark:hover:bg-gray-700 hover:text-primary-700">
      View open positions
    </a>
  </div>
</div>
