<div class="hero bg-gray-700 rounded-2xl w-full">
  <div class="hero-content pb-5 w-full">
    <div class="w-full">
      <h1 class="text-5xl font-bold"><%= title %></h1>
      <p class="font-light opacity-75"><%= subtitle %></p>
      <div class="mt-3">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
