<section class="bg-white rounded-2xl dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:py-16 lg:px-6 xl:gap-16">
    <div class="text-gray-500 sm:text-lg">
      <%= yield %>
    </div>
  </div>
</section>
