<div class="relative overflow-hidden rounded-xl border-solid border-2 bg-slate-200 border-slate-300">
  <div class="hidden sm:absolute sm:inset-y-0 sm:block sm:h-full sm:w-full" aria-hidden="true">
    <div class="relative mx-auto h-full max-w-7xl">
      <svg class="absolute right-full translate-y-1/4 translate-x-1/4 transform lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-slate-300" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute left-full -translate-y-3/4 -translate-x-1/4 transform md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-slate-300" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
      </svg>
    </div>
  </div>

  <div class="relative p-5">
    <main class="">
        <h1 class="text-3xl font-bold tracking-tight text-gray-800">
          <span class="block xl:inline"><%= title %></span>
        </h1>
        <p class="text-base text-gray-500 -mb-1"><%= subtitle %></p>
        <p class="text-base text-gray-400"><small><em><%= description %></em></small>
        <div class="mt-5">
          <%= yield %>
        </div>
    </main>
  </div>
</div>
