<div class="overflow-hidden rounded-lg px-4 py-5 shadow sm:p-6 <%= bg %>">
  <dt class="truncate text-sm font-medium text-gray-500"><%= label %></dt>
  <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= number_to_human value, delimiter: ",", precision: 0 %></dd>
</div>
