<div class="indicator w-full">
  <span class="indicator-item indicator-center badge badge-secondary whitespace-nowrap"><small><code>&lt;turbo-frame&gt;</code></small></span>
  <div class="p-1 border-solid border-2 border-secondary rounded-3xl w-full">
    <%= yield %>
  </div>
</div>
