<div class="w-full indicator">
  <span class="whitespace-nowrap indicator-item indicator-center badge badge-secondary"><small><code>&lt;turbo-frame&gt;</code></small></span>
  <div class="p-1 w-full rounded-3xl border-2 border-solid border-secondary">
    <%= yield %>
  </div>
</div>
