<%= turbo_frame_tag "frame-driver-test", data: { src: test_path(:frame) } do %>
  <%= render "partials/details", id: "frame-driver" do %>
    <summary>
      Frame
      <small><code>→ app/javascript/drivers/frame.js</code></small>
    </summary>

    <article>
      <section>
        <button type="submit" data-test="prevent" data-turbo-command="Drivers::Frame::PreventControllerActionCommand">
          <article>Click to Invoke → <code>Drivers::Frame::<ins><u>Prevent</u></ins>ControllerActionCommand</code></article>
          <small>Uses the <u>Append</u> rendering strategy</small>
        </button>
      </section>

      <section>
        <button type="submit" data-test="allow" data-turbo-command="Drivers::Frame::AllowControllerActionCommand">
          <article>
            Click to Invoke → <code>Drivers::Frame::<ins><u>Allow</u></ins>ControllerActionCommand</code>
            <br>
            <small>Requires → <code>&lt;turbo-frame <u>data-src</u>="/path/to/template"...</code></small>
          </article>
          <small>Uses implicit <u>Rails/Hotwire</u> rendering mechanics</small>
        </button>
      </section>

      <%= render "/tests/drivers/footer" %>
    </article>
  <% end %>
<% end %>
