<%= render "partials/details", id: "drivers-window" do %>
  <summary>
    Window
    <small><code>→ app/javascript/drivers/window.js</code></small>
  </summary>

  <article>
    <button data-test="append" data-turbo-command="Drivers::Window::AppendCommand">
      AppendCommand
    </button>

    <button data-test="replace" data-turbo-command="Drivers::Window::ReplaceCommand">
      ReplaceCommand
    </button>

    <footer>
      <small>
        <% if @message %>
          <ins data-test="message"><%= @message %></ins>
        <% else %>
          <span data-test="message">...</span>
        <% end %>
      </small>
    </footer>
  </article>
<% end %>
