<%= render "partials/details", id: :window_driver, data: { testid: :window_driver, turbo_boost: request.format.turbo_boost? } do %>
  <summary>
    Window
    <small><code>→ app/javascript/drivers/window.js</code></small>
  </summary>

  <article>
    <section>
      <button type="submit" data-testid="window_driver_prevent" data-turbo-command="Drivers::Window::PreventControllerActionCommand">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Prevent</u></ins>ControllerActionCommand</code></article>
        <small>Uses the <u>Append</u> rendering strategy</small>
      </button>
    </section>

    <section>
      <button type="submit" data-testid="window_driver_allow" data-turbo-command="Drivers::Window::AllowControllerActionCommand">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Allow</u></ins>ControllerActionCommand</code></article>
        <small>Uses the <u>Replace</u> rendering strategy</small>
      </button>
    </section>

    <section>
      <button type="submit" data-testid="window_driver_allow_with_abort" data-turbo-command="Drivers::Window::AllowControllerActionCommand#perform_with_abort">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Allow</u></ins>ControllerActionCommand#perform_with_abort</code></article>
      </button>
    </section>

    <section>
      <button type="submit" data-testid="window_driver_allow_with_error" data-turbo-command="Drivers::Window::AllowControllerActionCommand#perform_with_error">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Allow</u></ins>ControllerActionCommand#perform_with_error</code></article>
      </button>
    </section>

    <%= render "/tests/drivers/footer", data: { testid: :window_driver_message } %>
  </article>
<% end %>
