<%= render "partials/details", id: "drivers-window" do %>
  <summary>
    Window
    <small><code>→ app/javascript/drivers/window.js</code></small>
  </summary>

  <article>
    <section>
      <button type="submit" data-test="prevent" data-turbo-command="Drivers::Window::PreventControllerActionCommand">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Prevent</u></ins>ControllerActionCommand</code></article>
        <small>Uses the <u>Append</u> rendering strategy</small>
      </button>
    </section>

    <section>
      <button type="submit" data-test="allow" data-turbo-command="Drivers::Window::AllowControllerActionCommand">
        <article>Click to Invoke ➜ <code>Drivers::Window::<ins><u>Allow</u></ins>ControllerActionCommand</code></article>
        <small>Uses the <u>Replace</u> rendering strategy</small>
      </button>
    </section>

    <%= render "/tests/drivers/footer" %>
  </article>
<% end %>
