<%# styles → app/assets/stylesheets/tailwind/components/instruction.css %>
<div class="instruction">
  <div>
    <span><span><%= step.to_s.rjust(2, "0") %></span></span>
    <h3><%= heading %></h3>
  </div>
  <%= yield %>
</div>
